---
const today = new Date();
import Button from "../ui/button/Button.astro";
import { FOOTER_TEXT } from "../../consts";
---

<footer id="contact" class="py-12 px-4 text-center">
  
  
  <!-- Footer Bottom -->
  <div class="mt-12 pt-8 border-t border-neutral-200 dark:border-neutral-700">
    <p class="text-sm text-neutral-600 dark:text-neutral-400">
      {FOOTER_TEXT}
    </p>
  </div>
</footer>
